.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;

  .chatHeaderLeft {
    padding-left: 15px;

    .chatHeaderHash {
      color: #7b7c85;
      padding-right: 7px;
    }
    h3 {
      color: white;
    }
  }

  .chatHeaderRight {
    padding-right: 15px;
    display: flex;
    gap: 13px;
    color: #7b7c85;
    align-items: center;

    .chatHeaderSearch {
      display: flex;
      align-items: center;
      background-color: #40404a;
      padding: 3px;
      border-radius: 3px;

      input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
      }
    }

    .MuiSvgIcon-root {
      cursor: pointer;
    }
  }
}
